# This rule is not used by the project expiring-secrets itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the cache.stakater.cloud.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: expiring-secrets
    app.kubernetes.io/managed-by: kustomize
  name: monitor-editor-role
rules:
- apiGroups:
  - expiringsecrets.stakater.com
  resources:
  - monitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - expiringsecrets.stakater.com
  resources:
  - monitors/status
  verbs:
  - get
