apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
  name: expiring-secrets.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions: {}
  description: expiring-secrets
  displayName: expiring-secrets
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: []
    strategy: ""
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - openshift
  links:
  - name: Source
    url: https://github.com/stakater/expiring-secret-operator
  maintainers:
  - email: support@stakater.com
    name: Stakater
  maturity: alpha
  provider:
    name: Stakater
    url: https://stakater.com
  version: 0.0.0
