name: Check Coverage
on:
  push:
    branches: 
      - "master"
  pull_request:
    branches: 
      - "master"

jobs:
  code_coverage:
    name: Operator Pull Request
    uses: stakater/.github/.github/workflows/pull_request_coverage.yaml@main
    with:
      ENABLE_LINTING: true
      ENABLE_UNIT_TESTS: true
      TARGET_BRANCH: master
