name: Manual Release

on:
  push:
    tags:
      # restricting it to only Major Versions 0,1,2
      - 'v[012].[0-9]+.[0-9]+'
      - '!v[012].[0-9]+.[0-9]+-*'

jobs:
  operator-release:
    name: Operator Release
    uses: stakater/.github/.github/workflows/operator_release.yaml@main
    secrets:
      CONTAINER_REGISTRY_URL: ghcr.io/stakater
      CONTAINER_REGISTRY_USERNAME: ${{ secrets.GHCR_USERNAME }}
      CONTAINER_REGISTRY_PASSWORD: ${{ secrets.GHCR_TOKEN }}
      SLACK_WEBHOOK_URL: ${{ secrets.STAKATER_DELIVERY_SLACK_WEBHOOK }}
      STAKATER_AB_REPOS: ${{ secrets.STAKATER_AB_REPOS }}
    with:
      ENABLE_LINTING: true
      ENABLE_UNIT_TESTS: true
      ENABLE_STAKATER_AB_GIT_AUTH: true
      ENABLE_CHART_PUSH: true